body {
    font-family: Arial;
}

h1 {
    text-align: center;
}

.specs {
    text-align: center;
}

.liens {
    text-align: center;
}

.img-centered {
    margin: 0 auto;
    display: block;

}

.vert {
    color: green;
}

.haut {
    width: 25px;
    height: 25px;
    float: left;
}

ol {
    list-style-type: lower-alpha;
}

ul {
    list-style-type: square;
}

li > ul {
    list-style-type: circle;
}

.retour {
    display: flex;
    justify-content: flex-start;
}

.retour a {
    align-self: flex-end;
}

.best-buy {
    width: 800px;
    height: 400px;
}